# executable / compiled files
a
*.exe
*.out
a.out
*.o
*.obj
.vscode/
.cph/
*~


Fenwick Tree/2D_Fenwick_Tree
Binary Search Tree(BST)/full_code
Sparse Table/Range_Minimum_Queue
Trie/Insert_Search_prefSearch
Trie/Distinct_Substring
Trie/All_Prefix_Exist
